@font-face {
  font-family: 'ProximaNova';
  src: url('./ProximaNova-Extrabld.eot');
  src: url('./ProximaNova-Extrabld.woff2') format('woff2'),
       url('./ProximaNova-Extrabld.woff') format('woff'),
       url('./ProximaNova-Extrabld.ttf') format('truetype'),
       url('./ProximaNova-Extrabld.svg#ProximaNova-Extrabld') format('svg'),
       url('./ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('./ProximaNova-Light.eot');
  src: url('./ProximaNova-Light.woff2') format('woff2'),
       url('./ProximaNova-Light.woff') format('woff'),
       url('./ProximaNova-Light.ttf') format('truetype'),
       url('./ProximaNova-Light.svg#ProximaNova-Light') format('svg'),
       url('./ProximaNova-Light.eot?#iefix') format('embedded-opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('./ProximaNova-RegularIt.eot');
  src: url('./ProximaNova-RegularIt.woff2') format('woff2'),
       url('./ProximaNova-RegularIt.woff') format('woff'),
       url('./ProximaNova-RegularIt.ttf') format('truetype'),
       url('./ProximaNova-RegularIt.svg#ProximaNova-RegularIt') format('svg'),
       url('./ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('./ProximaNova-Black.eot');
  src: url('./ProximaNova-Black.woff2') format('woff2'),
       url('./ProximaNova-Black.woff') format('woff'),
       url('./ProximaNova-Black.ttf') format('truetype'),
       url('./ProximaNova-Black.svg#ProximaNova-Black') format('svg'),
       url('./ProximaNova-Black.eot?#iefix') format('embedded-opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('./ProximaNova-LightIt.eot');
  src: url('./ProximaNova-LightIt.woff2') format('woff2'),
       url('./ProximaNova-LightIt.woff') format('woff'),
       url('./ProximaNova-LightIt.ttf') format('truetype'),
       url('./ProximaNova-LightIt.svg#ProximaNova-LightIt') format('svg'),
       url('./ProximaNova-LightIt.eot?#iefix') format('embedded-opentype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('./ProximaNova-Regular.eot');
  src: url('./ProximaNova-Regular.woff2') format('woff2'),
       url('./ProximaNova-Regular.woff') format('woff'),
       url('./ProximaNova-Regular.ttf') format('truetype'),
       url('./ProximaNova-Regular.svg#ProximaNova-Regular') format('svg'),
       url('./ProximaNova-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-BoldIt';
  src: url('./ProximaNova-BoldIt.eot');
  src: url('./ProximaNova-BoldIt.woff2') format('woff2'),
       url('./ProximaNova-BoldIt.woff') format('woff'),
       url('./ProximaNova-BoldIt.ttf') format('truetype'),
       url('./ProximaNova-BoldIt.svg#ProximaNova-BoldIt') format('svg'),
       url('./ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('./ProximaNova-Bold.eot');
  src: url('./ProximaNova-Bold.woff2') format('woff2'),
       url('./ProximaNova-Bold.woff') format('woff'),
       url('./ProximaNova-Bold.ttf') format('truetype'),
       url('./ProximaNova-Bold.svg#ProximaNova-Bold') format('svg'),
       url('./ProximaNova-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}

//============

@font-face {
  font-family: 'ProximaNovaExCond-ExtrabldIt';
  src: url('./ProximaNovaExCn-ExtrabldIt.eot');
  src: url('./ProximaNovaExCn-ExtrabldIt.woff2') format('woff2'),
       url('./ProximaNovaExCn-ExtrabldIt.woff') format('woff'),
       url('./ProximaNovaExCn-ExtrabldIt.ttf') format('truetype'),
       url('./ProximaNovaExCn-ExtrabldIt.svg#ProximaNovaExCond-ExtrabldIt') format('svg'),
       url('./ProximaNovaExCn-ExtrabldIt.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaExCond-ThinIt';
  src: url('./ProximaNovaExCn-ThinIt.eot');
  src: url('./ProximaNovaExCn-ThinIt.woff2') format('woff2'),
       url('./ProximaNovaExCn-ThinIt.woff') format('woff'),
       url('./ProximaNovaExCn-ThinIt.ttf') format('truetype'),
       url('./ProximaNovaExCn-ThinIt.svg#ProximaNovaExCond-ThinIt') format('svg'),
       url('./ProximaNovaExCn-ThinIt.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaExCond-Extrabld';
  src: url('./ProximaNovaExCn-Extrabld.eot');
  src: url('./ProximaNovaExCn-Extrabld.woff2') format('woff2'),
       url('./ProximaNovaExCn-Extrabld.woff') format('woff'),
       url('./ProximaNovaExCn-Extrabld.ttf') format('truetype'),
       url('./ProximaNovaExCn-Extrabld.svg#ProximaNovaExCond-Extrabld') format('svg'),
       url('./ProximaNovaExCn-Extrabld.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaExCond-Thin';
  src: url('./ProximaNovaExCn-Thin.eot');
  src: url('./ProximaNovaExCn-Thin.woff2') format('woff2'),
       url('./ProximaNovaExCn-Thin.woff') format('woff'),
       url('./ProximaNovaExCn-Thin.ttf') format('truetype'),
       url('./ProximaNovaExCn-Thin.svg#ProximaNovaExCond-Thin') format('svg'),
       url('./ProximaNovaExCn-Thin.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaExCond-SemiboldIt';
  src: url('./ProximaNovaExCn-SemiboldIt.eot');
  src: url('./ProximaNovaExCn-SemiboldIt.woff2') format('woff2'),
       url('./ProximaNovaExCn-SemiboldIt.woff') format('woff'),
       url('./ProximaNovaExCn-SemiboldIt.ttf') format('truetype'),
       url('./ProximaNovaExCn-SemiboldIt.svg#ProximaNovaExCond-SemiboldIt') format('svg'),
       url('./ProximaNovaExCn-SemiboldIt.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaExCond-BoldIt';
  src: url('./ProximaNovaExCn-BoldIt.eot');
  src: url('./ProximaNovaExCn-BoldIt.woff2') format('woff2'),
       url('./ProximaNovaExCn-BoldIt.woff') format('woff'),
       url('./ProximaNovaExCn-BoldIt.ttf') format('truetype'),
       url('./ProximaNovaExCn-BoldIt.svg#ProximaNovaExCond-BoldIt') format('svg'),
       url('./ProximaNovaExCn-BoldIt.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaExCond-Semibold';
  src: url('./ProximaNovaExCn-Semibold.eot');
  src: url('./ProximaNovaExCn-Semibold.woff2') format('woff2'),
       url('./ProximaNovaExCn-Semibold.woff') format('woff'),
       url('./ProximaNovaExCn-Semibold.ttf') format('truetype'),
       url('./ProximaNovaExCn-Semibold.svg#ProximaNovaExCond-Semibold') format('svg'),
       url('./ProximaNovaExCn-Semibold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaExCond-Regular';
  src: url('./ProximaNovaExCn-Regular.eot');
  src: url('./ProximaNovaExCn-Regular.woff2') format('woff2'),
       url('./ProximaNovaExCn-Regular.woff') format('woff'),
       url('./ProximaNovaExCn-Regular.ttf') format('truetype'),
       url('./ProximaNovaExCn-Regular.svg#ProximaNovaExCond-Regular') format('svg'),
       url('./ProximaNovaExCn-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaExCond-Light';
  src: url('./ProximaNovaExCn-Light.eot');
  src: url('./ProximaNovaExCn-Light.woff2') format('woff2'),
       url('./ProximaNovaExCn-Light.woff') format('woff'),
       url('./ProximaNovaExCn-Light.ttf') format('truetype'),
       url('./ProximaNovaExCn-Light.svg#ProximaNovaExCond-Light') format('svg'),
       url('./ProximaNovaExCn-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaExCond-LightIt';
  src: url('./ProximaNovaExCn-LightIt.eot');
  src: url('./ProximaNovaExCn-LightIt.woff2') format('woff2'),
       url('./ProximaNovaExCn-LightIt.woff') format('woff'),
       url('./ProximaNovaExCn-LightIt.ttf') format('truetype'),
       url('./ProximaNovaExCn-LightIt.svg#ProximaNovaExCond-LightIt') format('svg'),
       url('./ProximaNovaExCn-LightIt.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaExCond-RegularIt';
  src: url('./ProximaNovaExCn-RegularIt.eot');
  src: url('./ProximaNovaExCn-RegularIt.woff2') format('woff2'),
       url('./ProximaNovaExCn-RegularIt.woff') format('woff'),
       url('./ProximaNovaExCn-RegularIt.ttf') format('truetype'),
       url('./ProximaNovaExCn-RegularIt.svg#ProximaNovaExCond-RegularIt') format('svg'),
       url('./ProximaNovaExCn-RegularIt.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaCond-Regular';
  src: url('./ProximaNovaCond-Regular.eot');
  src: url('./ProximaNovaCond-Regular.woff2') format('woff2'),
       url('./ProximaNovaCond-Regular.woff') format('woff'),
       url('./ProximaNovaCond-Regular.ttf') format('truetype'),
       url('./ProximaNovaCond-Regular.svg#ProximaNovaCond-Regular') format('svg'),
       url('./ProximaNovaCond-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaExCond-BlackIt';
  src: url('./ProximaNovaExCn-BlackIt.eot');
  src: url('./ProximaNovaExCn-BlackIt.woff2') format('woff2'),
       url('./ProximaNovaExCn-BlackIt.woff') format('woff'),
       url('./ProximaNovaExCn-BlackIt.ttf') format('truetype'),
       url('./ProximaNovaExCn-BlackIt.svg#ProximaNovaExCond-BlackIt') format('svg'),
       url('./ProximaNovaExCn-BlackIt.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaExCond-Black';
  src: url('./ProximaNovaExCn-Black.eot');
  src: url('./ProximaNovaExCn-Black.woff2') format('woff2'),
       url('./ProximaNovaExCn-Black.woff') format('woff'),
       url('./ProximaNovaExCn-Black.ttf') format('truetype'),
       url('./ProximaNovaExCn-Black.svg#ProximaNovaExCond-Black') format('svg'),
       url('./ProximaNovaExCn-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaCond-Bold';
  src: url('./ProximaNovaCond-Bold.eot');
  src: url('./ProximaNovaCond-Bold.woff2') format('woff2'),
       url('./ProximaNovaCond-Bold.woff') format('woff'),
       url('./ProximaNovaCond-Bold.ttf') format('truetype'),
       url('./ProximaNovaCond-Bold.svg#ProximaNovaCond-Bold') format('svg'),
       url('./ProximaNovaCond-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaCond-Black';
  src: url('./ProximaNovaCond-Black.eot');
  src: url('./ProximaNovaCond-Black.woff2') format('woff2'),
       url('./ProximaNovaCond-Black.woff') format('woff'),
       url('./ProximaNovaCond-Black.ttf') format('truetype'),
       url('./ProximaNovaCond-Black.svg#ProximaNovaCond-Black') format('svg'),
       url('./ProximaNovaCond-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaExCond-Bold';
  src: url('./ProximaNovaExCn-Bold.eot');
  src: url('./ProximaNovaExCn-Bold.woff2') format('woff2'),
       url('./ProximaNovaExCn-Bold.woff') format('woff'),
       url('./ProximaNovaExCn-Bold.ttf') format('truetype'),
       url('./ProximaNovaExCn-Bold.svg#ProximaNovaExCond-Bold') format('svg'),
       url('./ProximaNovaExCn-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


