@import "./../../styles/normalize.css"
//@import "./../../styles/foundation.css"
@import "./../../styles/fonts"

body
  font-family HelveticaNeue, Helvetica, Arial, sans-serif
  font-weight 300
  width 100%
  display block !important

.content
  background-color #eee
  padding-bottom 50px
  min-height 100vh

.layout
  width 100%
  min-width 600px
